* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: large;
    color: white;
    line-height: 1.6;
    height: 100vh;
}


/* background */

/* background image */
.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url("./imgs/back.png");
    background-size: cover;
    background-position: 0px 0px;
}

/* background stars and prince and mountain*/

.container i{
    position: absolute;
    background: rgb(235, 160, 189);
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate{
    0%
    {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%
    {
        opacity: 0.9;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.littlePrince{
    position: fixed;
    pointer-events: none;
    transform: scale(0.2);
    height:10vh;
    width:10vw;
    top:65vh;
    left: 60vw;
    z-index: 5;
    
}

/* not uploaded yet */
.mountain{
    position: fixed;
    pointer-events: none;
    bottom: 0;
    height: 0vh;
    width: 200%;
    z-index: 5;
}



/* navbar with sticky */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 20px;
    z-index: 20;

}

.navbar.sticky{
    padding: 5px 20px;
    background: rgb(0, 0, 0);
}

.navbar .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    margin-top: 5px;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    text-decoration: none;
}

.navbar ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li{
    position: relative;
    list-style: none;
}

.navbar ul li a{
    font-size: 15px;
    position: relative;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition:  0.6;
}




/* section css */

section {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section .title{
    position: relative;
    top: -40px;
    justify-self: flex-start;
}

section h1{
    width:100%;
    font-size: 2.5rem;
    justify-content: left;
    margin-top: 10px;
}

section p{
    position: relative;
    width: 100%;
    font-weight: lighter;
}




/* section - home css */

section#home a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-weight: 600;
    left: -50px;
    top: 10px;
    width: 150px;
    height: 6vh;
    transition: 0.5s;
    padding-top: 3px;
    border: solid 0.2px rgb(252, 172, 255);
    border-radius: 3px;
    opacity: 1;
}

section#home a span{
    position: absolute;
    display: block;
}




/* section - aboutUs css */

section#aboutUs{
    height: 100%;
} 

.card-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 10;
}

.card-box{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.card{
    border: black 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 140px;
}


.card-img{
    position: relative;
}

.card-img img{
    position: relative;
    width: 100%;
    height: 85%;
}

.card-content{
    position: relative;
}




/* section = contactUs */

section#contactUs{
    height: 100%;
}  



/* section - end(예비용 입니다) */

section#end{
    height: 100%;
}









