/* 전체 일괄 세팅 */
* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
  }
  
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 1.4rem;

    color: white;
    line-height: 1.6;
    background : linear-gradient(180deg,#1F0936 0,#171A67 100%);
    /* height: 100vh; */
}
.container {
    width: 100%;
    /* 구획의 개수만큼.. 100을 곱할 것. */
    /* height: calc(100% * 4);  */

    /* display: flex;
    flex-direction: column; */
    /* overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth; */
    /* background-image: url("./imgs/back.png"); */
    background-size: cover;
    background-position: 0px 0px;
    /* scroll-behavior: smooth; */
    

    z-index : 1;
}
#fullpage{
    z-index : 1;
}
section {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
.section-title{
    font-size : 2rem;
    margin-bottom: 50px;
    border-bottom: 3px solid rgba(0, 255, 255, 1);
}
.section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 50%;
}


/* 내비게이션바 관련 */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position : fixed;

    width:100%;
    height : 60px;

    background : #000;

    z-index : 2;
}
.navbar .logo{
    /* display:flex; */
    margin-left : 20px;

    font-weight: 700;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.navbar ul{
    display:flex;
    list-style: none;
    justify-content: space-around;  
    align-items: center;

    /* width: 300px; */

    margin-right : 3vw;
}
.navbar ul li{
    border-bottom : 2px solid rgba(0,0,0,0);
    transition : border-bottom 0.5s;
    margin-right : 3vw;
}
.navbar ul li:hover{
    border-bottom: 2px solid rgba(0, 255, 255, 1);
}
.navbar ul li a{
    font-size: 15px;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6;
}


/* 배경화면 관련 */
/* #background{
    width: 100%;
    height: 400%;
    position : fixed;
    background : linear-gradient(180deg,#1F0936 0,#171A67 100%);
    z-index : -1;
} */
/* #prince{
    position: fixed;
    pointer-events: none;
    transform: scale(0.2);
    height:10vh;
    width:10vw;
    top:65vh;
    left: 60vw;
}
#mountain{
    width : 100%;
    height:100%;
    position : fixed;
    background-size: cover;
    z-index : -1;
} */
.littlePrince{
    position: fixed;
    pointer-events: none;
    transform: scale(0.2);
    height:10vh;
    width:10vw;
    bottom: 35vh;
    right: 15vw;
    z-index : -1;
}
.mountain img{
    position : fixed;
    background-size: cover;
    width : 100%;
    height: 100%;
    z-index : -1;
}
.container i{
    position : fixed;
    background: rgb(235, 160, 189);
    border-radius: 50%;
    animation: animate linear infinite;

    z-index : -2;
}
@keyframes animate{
    0%
    {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%
    {
        opacity: 0.9;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
}

/* 1번 구획(HOME) 관련 */

#home a{
    text-decoration: none;
    color : white;
    font-weight: 700;

    margin-top : 100px;
    padding : 3px 8px;

    border : 2px solid rgba(0, 255, 255, 0.5);
    border-radius: 10px;
    
    transition : border 0.6s, border-radius 0.6s;
}
#home a:hover{
    border : 2px solid rgba(0, 255, 255, 1);
    border-radius: 2px;
}


/* 3번 구획(About Us) 관련 */
.card-box{
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width : 70vw;
    max-width : 1000px;
    height : 23vh;
}
.card{
}
.card-content{
    display:flex;
    flex-direction: column;
}
.card-name{
    font-size: 1.4rem;
    height : 1.6rem;
}
.card-role{
    font-size: 0.7rem;
    height : 0.9rem;
    color : #adadad;
}
.card-img, .card-img img{
    width : 100px;
    height : 100px;
    object-fit: cover;
    border-radius: 10px;
}


/* 4번 구획(Contact Us) 관련 */
#contactUs, #contactUs div{
    /* border : 1px solid red; */
}
.contactContainer{  
    display: flex;
    flex-direction: column;
    justify-content: center;

    width : 100%;   
}
.contactContainer *{
    border : 0;
    background-color: rgba(0,0,0,0.7);
    color : white;
}
.contactContainer *:focus{
    border : 1px solid black;
}
#userName{
    font-family: Arial, Helvetica, sans-serif;
    width : 100%;
    height : 50px;
    margin-bottom: 15px;
    padding : 10px;

    font-size : 1.3rem;
    resize:none;
    overflow:hidden;
}
#userEmail{
    font-family: Arial, Helvetica, sans-serif;
    width : 100%;
    height : 50px;
    margin-bottom: 15px;
    padding : 10px;

    font-size : 1.3rem;
    resize:none;
    overflow:hidden;
}
#userComment{
    font-family: Arial, Helvetica, sans-serif;
    width : 100%;
    height : 40vh;
    margin-bottom: 15px;
    padding : 10px;

    font-size : 1rem;
    line-height: 1.2;

    resize:none;
}
#contactUs button{
    border-radius: 5px;
    border : 3px solid rgba(0, 255, 255, 0);
    width : 120px;
    height : 40px;

    background-color: #101C67;

    color : white;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: large;

    transition : border 0.2s, border-radius 0.2s;
}
#contactUs button:hover{
    border : 3px solid rgba(0, 255, 255, 0.5);
    border-radius: 0px;
}