* {
    width: 100%;
    margin: 0;
    padding: 0;  
	box-sizing: border-box;
  }
html, body {
    width: 100%;
    overflow: hidden;
}




/* swiper css */
body {
	background: #fff;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
  }

  .swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 300px;
  }

  .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
  }

  .swiper-content{
	width: 150px;
	height: 150px;

  }
  .youtube-vid{
	width: 150px;
	height: 150px;
  }
  .content-box{
	border: black 2px;
	width: 150px;
	height: 150px;
  }
  .youtube-info{

	width: 150px;
	height: 20px;
  }


  .iframe{
	  width: 150px;
	  height: 150px;
	  z-index: -1;
  }

  .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 150px;
	height: 150px;
	margin: 20px;
  }
.swiper-wrapper{
	width:1px
}

.player-info{
	color: #fff;
}
.player-title{
	font-size: 30px;
}
.player-singer{
	font-size: 20px;
}


/* search bar css */

/* 검색 패널 */
#PnlSearch {
	position: relative;
	max-width: 80%;
	top:0vh;
	margin: 0 auto;
}

/* 검색 패널 아이콘 및 애니메이션 */
.search-icon, .go-icon {
	position: absolute;
	top:0px;
	height: 60px;
	width: 60px;
	margin:0 10px;
	line-height: 60px;
	text-align: center;
  }
.search-icon {
	pointer-events: none;
	font-size: 1.25em;
	will-change: transform;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  .si-rotate {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
  }
  .go-icon {
	right: 0;
	pointer-events: none;
	font-size: 1.38em;
	will-change: opacity;
	cursor: default;
	opacity: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
.go-in {
	opacity: 1;
	pointer-events: all;
	cursor: pointer;
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

  .search-border {
	display: block;
	width: 100%;
	max-width: 360px;
	height: 60px;
	}
  .border {
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 5;
	stroke-miterlimit: 10;
  }
  .border {
	stroke-dasharray: 740;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
	-webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
	-moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
	-o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  }
  .border-searching .border {
	stroke-dasharray: 740;
	stroke-dashoffset: 459;
	transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
	-webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
	-moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
	-o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  }
  #TxtSearch {
	font-family: 'Montserrat Alternates', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 120px;
	border: none;
	background: rgba(255,255,255,0);
	padding: 0 68px 0 68px;
	color: #FFFFFF;
	font-size: 1.32em;
	font-weight: 400;
	letter-spacing: -0.015em;
	outline: none;
  }
  #TxtSearch::-webkit-input-placeholder {color: #FCFCFC;font-size: 0.9em; opacity: 0.5; text-align: center;}
  #TxtSearch::-moz-placeholder {color: #FCFCFC;font-size: 0.9em; opacity: 0.5; text-align: center;}
  #TxtSearch:-ms-input-placeholder {color: #FCFCFC;font-size: 0.9em; opacity: 0.5; text-align: center;}
  #TxtSearch:-moz-placeholder {color: #FCFCFC;font-size: 0.9em; opacity: 0.5; text-align: center;}
  #TxtSearch::-moz-selection {color: #FCFCFC;background: rgba(0,0,0,0.25); opacity: 0.5; text-align: center;}
  #TxtSearch::selection {color: #FCFCFC;background: rgba(0,0,0,0.25); opacity: 0.5; text-align: center;}


/* 공용 */
.SetPrepareFloat{display:inline-block;}
.SetFloatLeft{float:left;}
.SetFloatRight{float:right;}
.SetAutoWidth{width:auto;}
.SetCenter{text-align:center;}
.SetDisplayNone{display:none;}


/* auto-complete */
#auto-box{
	position: absolute;
	overflow-y: auto;
	z-index: 100;
	max-height: 200px;
} 

#auto-box li{
	list-style: none;
	padding: 8px 12px;
	width: 100%;
	cursor: default;
	border-radius: 3px;
	background: rgb(240, 183, 235, 0.1);
	margin-bottom: 1px;
	font-size: 15px;
	color: rgb(255,255,255,0.8);
}
#auto-box li:hover{
	background: rgb(240, 183, 235);
}



/*  navbar css  */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 20px;
    z-index: 1000;
}

.navbar.sticky{
    padding: 5px 20px;
    background: rgb(0, 0, 0);
}

.navbar .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    margin-top: 5px;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    text-decoration: none;
}

